@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

body {
    margin: 0;
    padding: 0;
}

.center {
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    background-color: #eeeeee;
    color: #000000;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.content {
    padding: 20px;
}

/* Navigation Bar */

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav li {
    margin-right: 20px;

}
.nav a {
    text-decoration: none;
    color: #030303;
    position: relative;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    transition: background-color 0.1s ease;
}

.nav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: inherit;
    background-color: #00ffc8;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav a:hover::before {
    opacity: 1; /* Show the background on hover */
}

.content {
    padding: 20px;
}